%h2 Request to Join
%div
  %p The Disabled Techies Slack is for techies who identify personally with disability. This is not a space for allies or to find participants for your well-intentioned research study.
  %p All that we ask is that you are both a techie and have a disability. We invite and encourage you to define techie and disability in your own ways. Some examples of a disability might include (but are not limited to):
  %ul
    %li long-term injuries from from war, punishment, violence, toxic exposure, work, etc.
    %li a self-diagnosed disabling condition
    %li a medically-diagnosed disabling condition
    %li mental illness
    %li chronic illness
    %li chronic pain
    %li neurodiversity/cognitive impairment/learning disability
    %li sensory loss/sensory impairment
  %p These are only examples and the list is not comprehensive.
%form#joinform{method: 'post', onsubmit: 'return validateRequest();'}
  %div#name-alert{tabindex: -1}
  %div.mb-3
    %label.form-label{for: 'name'} Name:
    %input.form-control#name{name: 'name'}
  %div#email-alert{tabindex: -1}
  %div.mb-3
    %label.form-label{for: 'email'} Email:
    %input.form-control#email{name: 'email'}
  %div.mb-3
    %label.form-label{for: 'referer'} Referred By (optional):
    %input.form-control#referer{name: 'referer'}
  %div#checkbox-alert{tabindex: -1}
  - @reasons.each do |reason|
    %div.form-check
      %input.form-check-input{type: :checkbox, name: "reason-#{reason[:id]}", id: "reason-#{reason[:id]}", onclick: "toggleExtraInfo('#{reason[:id]}');"}
      %label.form-check-label{for: "reason-#{reason[:id]}"}= reason[:fulldesc]
      - if reason[:extradesc]
        %div.mt-1.mb-3{id: "reason-#{reason[:id]}-extra-section", style: 'display: none'}
          %div{tabindex: -1, id: "reason-#{reason[:id]}-extra-alert"}
          %label.form-label{for: "reason-#{reason[:id]}-extra"}= reason[:extradesc]
          %input.form-control{name: "reason-#{reason[:id]}-extra", id: "reason-#{reason[:id]}-extra"}
  %div.mb-3
    %label.form-label{for: 'notes'} Anything else you'd like us to know:
    %textarea.form-control#notes{name: 'notes'}
  %input.btn.btn-primary.mb-3{type: 'submit', value: 'Submit Request'}
%div
  All data submitted via this form will be retained for 90 days then permanently deleted. If you would like your data to be deleted sooner, if you have any questions, or if you experience problems with this form, please email "admin" at disabledtechies.org.
